@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html, body{
  margin: 0;
  padding: 0;
  background: #0C356A;
  font-family: 'Caveat, cursive';
  color: aliceblue;
}

.image-inverted{
  filter: invert(100%);
}